<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>

    <meta name="google-site-verification" content="N_MSgx_6ym-nPFYWhAWCL9uUEKCkHhUBU90AFpj5yKw" />
    <meta name="yandex-verification" content="b76dbb50b3a1edd1" />
    <meta name="msvalidate.01" content="1A16774DB6B0E6D5D2221D8812636C53" />

    <meta name="author" content="Sukhrob Kudratov" />
    <meta name="keywords" content="Sukhrob, Kudratov, Sukhrob Kudratov, Suxrob, Suxrob Kudratov, Futuricon, .Net, Developer, Programmer, C#, Asp.Net, .Net Core, WPF, Full-Stack" />
    <meta name="description" content="Sukhrob Kudratov's website, .Net Developer specializing in Desktop and Web development. Experienced with all stages of the development cycle for dynamic web projects." />
    <meta name="image" content="https://futuricon.uz/imgs/profile.jpg" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://futuricon.uz" />
    <meta property="og:title" content="Sukhrob Kudratov" />
    <meta property="og:description" content="Sukhrob Kudratov's website, .Net Developer specializing in Desktop and Web development. Experienced with all stages of the development cycle for dynamic web projects." />
    <meta property="og:image" content="https://futuricon.uz/imgs/profile.jpg" />

    <meta name="twitter:url" content="https://futuricon.uz" />
    <meta name="twitter:title" content="Sukhrob Kudratov" />
    <meta name="twitter:description" content="Sukhrob Kudratov's website, .Net Developer specializing in Desktop and Web development. Experienced with all stages of the development cycle for dynamic web projects." />
    <meta name="twitter:creator" content="Sukhrob Kudratov" />
    <meta name="twitter:image" content="https://futuricon.uz/imgs/profile.jpg" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.png" />
    <!-- Css -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/css/main.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/css/venobox.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/css/fonts.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/css/owl-carousel/owl.carousel.css" rel="stylesheet" media="all">
    <link href="~/css/owl-carousel/owl.theme.css" rel="stylesheet" media="all">
    <link href="~/css/owl-carousel/owl.transitions.css" rel="stylesheet" media="all">
    <link href="~/css/css.css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    @await RenderSectionAsync("CSS", required: false).ConfigureAwait(false)
</head>

<body>
    <div class="loader">
        <div class="loader-inner">
            <div class="bounce">
                <div class="bounce-circle"></div>
            </div>
        </div>
    </div>
    <div id="wrapper" class="wrapper home">
        <div class="parallax position-absolute d-none d-lg-block" data-relative-input="true">
            <svg class="max-width-8 layer p1 " 
                 version="1.1" xmlns="http://www.w3.org/2000/svg" 
                 xmlns:xlink="http://www.w3.org/1999/xlink" 
                 x="0px" y="0px" viewbox="0 0 35.9 38.6" 
                 enable-background="new 0 0 35.9 38.6;" 
                 xml:space="preserve" data-depth="0.3">
            <g>
                <g>
                    <g>
                        <g>
                            <defs>
                                <path id="SVGID_1_" d="M0,4.6l2.7,30.1c0.3,3.3,4,5,6.7,3.1l24.7-17.3c2.7-1.9,2.3-6-0.6-7.4L6.1,0.4C3.1-1-0.3,1.4,0,4.6z"></path>
                            </defs>
                            <clippath id="SVGID_2_"><use xlink:href="#SVGID_1_"></use></clippath>
                            <line class="st0" x1="-26.8" y1="10.7" x2="20.7" y2="-22.8"></line>
                        </g>
                    </g>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <g>
                            <defs>
                                <path id="SVGID_3_" d="M0,4.6l2.7,30.1c0.3,3.3,4,5,6.7,3.1l24.7-17.3c2.7-1.9,2.3-6-0.6-7.4L6.1,0.4C3.1-1-0.3,1.4,0,4.6z"></path>
                            </defs>
                            <clippath id="SVGID_4_">
                                <use xlink:href="#SVGID_3_"></use>
                            </clippath>
                            <line class="st1" x1="-24.2" y1="14.5" x2="23.5" y2="-19"></line>
                        </g>
                    </g>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <defs>
                            <path id="SVGID_5_" d="M0,4.6l2.7,30.1c0.3,3.3,4,5,6.7,3.1l24.7-17.3c2.7-1.9,2.3-6-0.6-7.4L6.1,0.4C3.1-1-0.3,1.4,0,4.6z"></path>
                        </defs>
                        <clippath id="SVGID_6_">
                            <use xlink:href="#SVGID_5_"></use>
                        </clippath>
                        <line class="st2" x1="-21.5" y1="18.4" x2="26.2" y2="-15.1"></line>
                    </g>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <defs>
                            <path id="SVGID_7_" d="M0,4.6l2.7,30.1c0.3,3.3,4,5,6.7,3.1l24.7-17.3c2.7-1.9,2.3-6-0.6-7.4L6.1,0.4C3.1-1-0.3,1.4,0,4.6z"></path>
                        </defs>
                        <clippath id="SVGID_8_"><use xlink:href="#SVGID_7_"></use></clippath>
                        <line class="st3" x1="-18.7" y1="22.2" x2="28.9" y2="-11.3"></line>
                    </g>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <g>
                            <defs>
                                <path id="SVGID_9_" d="M0,4.6l2.7,30.1c0.3,3.3,4,5,6.7,3.1l24.7-17.3c2.7-1.9,2.3-6-0.6-7.4L6.1,0.4C3.1-1-0.3,1.4,0,4.6z"></path>
                            </defs>
                            <clippath id="SVGID_10_">
                                <use xlink:href="#SVGID_9_"></use>
                            </clippath>
                            <line class="st4" x1="-16.1" y1="26.1" x2="31.6" y2="-7.4"></line>
                        </g>
                    </g>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <g>
                            <defs>
                                <path id="SVGID_11_" d="M0,4.6l2.7,30.1c0.3,3.3,4,5,6.7,3.1l24.7-17.3c2.7-1.9,2.3-6-0.6-7.4L6.1,0.4C3.1-1-0.3,1.4,0,4.6z"></path>
                            </defs>
                            <clippath id="SVGID_12_">
                                <use xlink:href="#SVGID_11_"></use>
                            </clippath>
                            <line class="st5" x1="-13.3" y1="29.9" x2="34.4" y2="-3.5"></line>
                        </g>
                    </g>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <g>
                            <defs>
                                <path id="SVGID_13_" d="M0,4.6l2.7,30.1c0.3,3.3,4,5,6.7,3.1l24.7-17.3c2.7-1.9,2.3-6-0.6-7.4L6.1,0.4C3.1-1-0.3,1.4,0,4.6z"></path>
                            </defs>
                            <clippath id="SVGID_14_">
                                <use xlink:href="#SVGID_13_"></use>
                            </clippath>
                            <line class="st6" x1="-10.6" y1="33.8" x2="37" y2="0.3"></line>
                        </g>
                    </g>
                </g>
            </g>
            <g>
                <g>
                    <defs>
                        <path id="SVGID_15_" d="M0,4.6l2.7,30.1c0.3,3.3,4,5,6.7,3.1l24.7-17.3c2.7-1.9,2.3-6-0.6-7.4L6.1,0.4C3.1-1-0.3,1.4,0,4.6z"></path>
                    </defs>
                    <clippath id="SVGID_16_">
                        <use xlink:href="#SVGID_15_"></use>
                    </clippath>
                    <line class="st7" x1="-7.9" y1="37.7" x2="39.7" y2="4.2"></line>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <g>
                            <defs>
                                <path id="SVGID_17_" d="M0,4.6l2.7,30.1c0.3,3.3,4,5,6.7,3.1l24.7-17.3c2.7-1.9,2.3-6-0.6-7.4L6.1,0.4C3.1-1-0.3,1.4,0,4.6z"></path>
                            </defs>
                            <clippath id="SVGID_18_">
                                <use xlink:href="#SVGID_17_"></use>
                            </clippath>
                            <line class="st8" x1="-5.2" y1="41.5" x2="42.5" y2="8"></line>
                        </g>
                    </g>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <g>
                            <defs>
                                <path id="SVGID_19_" d="M0,4.6l2.7,30.1c0.3,3.3,4,5,6.7,3.1l24.7-17.3c2.7-1.9,2.3-6-0.6-7.4L6.1,0.4C3.1-1-0.3,1.4,0,4.6z"></path>
                            </defs>
                            <clippath id="SVGID_20_"><use xlink:href="#SVGID_19_"></use></clippath>
                            <line class="st9" x1="-2.4" y1="45.4" x2="45.1" y2="11.9"></line>
                        </g>
                    </g>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <g>
                            <defs>
                                <path id="SVGID_21_" d="M0,4.6l2.7,30.1c0.3,3.3,4,5,6.7,3.1l24.7-17.3c2.7-1.9,2.3-6-0.6-7.4L6.1,0.4C3.1-1-0.3,1.4,0,4.6z"></path>
                            </defs>
                            <clippath id="SVGID_22_">
                                <use xlink:href="#SVGID_21_"></use>
                            </clippath>
                            <line class="st10" x1="0.2" y1="49.2" x2="47.9" y2="15.8"></line>
                        </g>
                     </g>
                  </g>
               </g>
            </svg>
            <img class="max-width-9 layer p2 " src="~/imgs/svg/square-rl.svg" alt="" data-depth="0.7">
            <img class="max-width-9 shadow-inner radius-5 layer p3" src="~/imgs/svg/circle.svg" alt="" data-depth="0.5">
            <img class="max-width-10 shadow-inner radius-5 layer p4 " src="~/imgs/svg/dashed-circle.svg" alt="" data-depth="0.3">
            <img class="max-width-8 layer p5 " src="~/imgs/svg/square-poly.svg" alt="" data-depth="0.7">
            <img class="max-width-8 layer shadow radius-2 p6" src="~/imgs/svg/square.svg" alt="" data-depth="0.5">
        </div>
        <div class="blurred-content"></div>
        <div class="container spacer-xlg">
            <div class="row ">
                <div class="col-lg-9 mx-auto my-order-switch-1">
                    @RenderBody()
                    <!--#region footer-->
                    <div class="row mt-4 justify-content-center ">
                        <div class="text-center shadow-inner radius-2  py-1 px-4">
                            <p class="font-size-14  mb-0 ">
                                &copy; 2021 - <a asp-area="" asp-page="/Index">Futuricon</a> - <a asp-area="" asp-page="/Privacy">Privacy</a>
                            </p>
                        </div>
                    </div>
                    <!--#endregion footer-->
                </div>
                <!--#region side menu-->
                <div id="nav-div" class="col-lg-3 pl-lg-0  my-order-switch-2 mb-lg-0 mb-5">
                    <div class="sticky-lg-top">
                        <header class="shadow bg-dark radius-2 px-4 py-6 text-center ">
                            <!--image-->
                            <div class="profile-image">
                                <div class="profile-image-border">
                                    <img class="rounded-circle" src="~/imgs/profile.jpg" alt="/">
                                </div>
                            </div>
                            <!--name-->
                            <div class="mt-4 mb-5">
                                <h3 class="font-weight-600 mb-0">
                                    Sukhrob <mark>Kudratov</mark>
                                </h3>
                                <h6 class="text-alt">.Net Developer</h6>
                            </div>
                            <nav id="main-nav" class="main-nav clearfix tabbed">
                                <ul class="pl-0">
                                    <!--home page nav-link-->
                                    <li id="nav-home" class="outer radius-2 mb-3">
                                        <a class="inner radius-2" asp-area="" asp-page="/Index">
                                            <div class="media align-items-center ">
                                                <div class="media-body text-left">
                                                    <span class="font-weight-600 font-size-13 text-uppercase  text-muted">Home</span>
                                                </div>
                                                <svg version="1.1" class="max-width-1 svg-icon"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     x="0px" y="0px" viewbox="0 0 517 517"
                                                     enable-background="new 0 0 517 517;"
                                                     xml:space="preserve">
                                                <g>
                                                <g>
                                                <path d="M504.6,187.1L274.2,7.9c-4.6-3.6-10.2-5.4-15.7-5.4s-11.1,1.8-15.7,5.4L12.4,187.1c-8.6,6.7-12,18.2-8.5,28.5
                                                           c3.6,10.3,13.3,17.3,24.2,17.3h25.6v281.6h153.6V309.7h102.4v204.8h153.6V232.9h25.6c10.9,0,20.7-6.9,24.2-17.3
                                                           C516.7,205.3,513.2,193.8,504.6,187.1z M437.7,207.3v281.6H335.3V309.7c0-14.1-11.5-25.6-25.6-25.6H207.3
                                                           c-14.1,0-25.6,11.5-25.6,25.6v179.2H79.3V207.3H28.1L258.5,28.1l230.4,179.2H437.7L437.7,207.3z"></path>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>
                                        </a>
                                    </li>
                                    <!--about page nav-link-->
                                    <li id="nav-about" class="outer radius-2 mb-3">
                                        <a class="inner radius-2" asp-area="" asp-page="/About">
                                            <div class="media  align-items-center ">
                                                <div class="media-body text-left">
                                                    <span class="font-weight-600 font-size-13 text-uppercase  text-muted">About</span>
                                                </div>
                                                <svg version="1.1" class="max-width-1 svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 512 514.5" enable-background="new 0 0 512 514.5;" xml:space="preserve">
                                                <g>
                                                <g>
                                                <path d="M256,2.5c-84.8,0-153.6,86-153.6,192s68.8,192,153.6,192s153.6-86,153.6-192S340.8,2.5,256,2.5z M256,360.9
                                                   c-70.6,0-128-74.6-128-166.4S185.4,28.1,256,28.1s128,74.7,128,166.4S326.6,360.9,256,360.9z"></path>
                                             </g>
                                          </g>
                                                <g>
                                                <g>
                                                <path d="M367.8,364.3c-6.9,6.7-14.2,12.7-21.8,18.1c24.4,11.3,45.8,20.8,64.1,28.7c67.8,29.6,76.4,35.4,76.4,52.2
                                                   c0,11.6-11.4,25.6-25.6,25.6H51.2c-14.2,0-25.6-14-25.6-25.6c0-16.8,8.6-22.6,76.3-52.2c18.3-8,39.7-17.4,64.1-28.7
                                                   c-7.6-5.4-14.9-11.4-21.8-18.1C37.6,413,0,419.6,0,463.3c0,25.6,22.9,51.2,51.2,51.2h409.6c28.3,0,51.2-25.6,51.2-51.2
                                                   C512,419.6,474.4,413,367.8,364.3z"></path>
                                             </g>
                                          </g>
                                       </svg>
                                            </div>
                                        </a>
                                    </li>
                                    <!--portfolio page nav-link-->
                                    <li id="nav-portfolio" class="outer radius-2 mb-3">
                                        <a class="inner radius-2" asp-page="/Portfolio/List">
                                            <div class="media  align-items-center ">
                                                <div class="media-body text-left">
                                                    <span class="font-weight-600 font-size-13 text-uppercase  text-muted">Portfolio</span>
                                                </div>
                                                <svg version="1.1" class="max-width-1 svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 517 466.8" enable-background="new 0 0 517 466.8;" xml:space="preserve">
                                                <g>
                                                <g>
                                                <path d="M488.9,2.5H156.1c-14.1,0-25.6,11.5-25.6,25.6v204.8c0,14.1,11.5,25.6,25.6,25.6h89.6l76.8,76.8l76.8-76.8
                                                             h89.6c14.1,0,25.6-11.5,25.6-25.6V28.1C514.5,14,503,2.5,488.9,2.5z M488.9,232.9H388.7l-66.2,66.2l-66.2-66.2H156.1V28.1h332.8
                                                             V232.9z"></path>
                                                       </g>
                                                    </g>
                                                <g>
                                                <g>
                                                <path d="M360.9,333.1v27.8H260.7l-66.2,66.2l-66.2-66.2H28.1V156.1h76.8v-25.6H28.1C14,130.5,2.5,142,2.5,156.1v204.8
                                                             c0,14.1,11.5,25.6,25.6,25.6h89.6l76.8,76.8l76.8-76.8h89.6c14.1,0,25.6-11.5,25.6-25.6v-53.4L360.9,333.1z"></path>
                                                       </g>
                                                    </g>
                                                </svg>
                                            </div>
                                        </a>
                                    </li>
                                    <!--contact page nav-link-->
                                    <li id="nav-contacts" class="outer radius-2 mb-3">
                                        <a class="inner radius-2" asp-area="" asp-page="/Contact">
                                            <div class="media  align-items-center ">
                                                <div class="media-body text-left">
                                                    <span class="font-weight-600 font-size-13 text-uppercase  text-muted">Contacts</span>
                                                </div>
                                                <svg version="1.1" class="max-width-1 svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 514 411.6" enable-background="new 0 0 514 411.6;" xml:space="preserve">
                                                <g>
                                                <g>
                                                <path d="M500.2,1H13.8C6.7,1,1,6.7,1,13.8v384c0,7.1,5.7,12.8,12.8,12.8h486.4c7.1,0,12.8-5.7,12.8-12.8v-384
                                                   C513,6.7,507.3,1,500.2,1z M487.4,385H26.6V26.6h460.8V385z"></path>
                                                </g>
                                                </g>
                                                <g>
                                                <g>
                                                <path d="M459.3,57.4c-4.2-5.7-12.2-6.9-17.9-2.7L257,189.9L72.6,54.7c-5.7-4.2-13.7-3-17.9,2.7s-3,13.7,2.7,17.9
                                                   l192,140.8c2.3,1.6,4.9,2.5,7.6,2.5s5.3-0.8,7.6-2.5l192-140.8C462.3,71.2,463.5,63.1,459.3,57.4z"></path>
                                                </g>
                                                </g>
                                                </svg>
                                            </div>
                                        </a>
                                    </li>
                                    <!--search nav-link-->
                                    <li id="nav-search" class="outer radius-2" style="display: none;">
                                        <div class="inner radius-2">
                                            <form class="header-search-form position-relative" asp-page="/Portfolio/List">
                                                <input type="text" value="Search" onblur="if(this.value == '') { this.value = 'Search'; }" onfocus="if(this.value == 'Search') { this.value = ''; }">
                                                <input type="submit" value="">
                                                <svg version="1.1" class="max-width-1 svg-icon search-form-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 517 517" enable-background="new 0 0 517 517;" xml:space="preserve">
                                                <g>
                                                <g>
                                                <path d="M510.8,492.6l-128-128c-0.1-0.1-0.1-0.1-0.2-0.1c34.2-38.4,55.1-88.9,55.1-144.4
                                                   c0-120.2-97.4-217.6-217.6-217.6S2.5,99.9,2.5,220.1s97.4,217.6,217.6,217.6c55.5,0,106-20.9,144.4-55.2c0.1,0.1,0.1,0.1,0.1,0.2
                                                   l128,128c2.5,2.5,5.8,3.8,9.1,3.8s6.6-1.2,9.1-3.7C515.7,505.8,515.7,497.6,510.8,492.6z M220.1,412.1c-105.9,0-192-86.1-192-192
                                                   s86.1-192,192-192s192,86.1,192,192S326,412.1,220.1,412.1z"></path>
                                                </g>
                                                </g>
                                                </svg>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </header>
                        <!--social icons-->
                        <div class="text-center mt-5 ">
                            <ul class="list-inline mt-auto mb-0">
                                <li class="list-inline-item outer radius-2 mr-1">
                                    <a class="inner btn btn-round btn-icon" href="https://www.facebook.com/futuricon.uz/">
                                        <span class="fab fa-facebook-f btn-icon-inner"></span>
                                    </a>
                                </li>
                                <li class="list-inline-item mr-1 outer radius-2">
                                    <a class="inner btn btn-round btn-icon" href="mailto:kudratovsuhrob@gmail.com">
                                        <span class="fab fa-google btn-icon-inner"></span>
                                    </a>
                                </li>
                                <li class="list-inline-item mx-0 outer radius-2 ">
                                    <a class="inner btn btn-round btn-icon" href="https://t.me/Futuricon">
                                        <span class="fab fa-telegram-plane btn-icon-inner"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--#endregion side menu-->
            </div>
        </div>
        <a class="outer scroll-to-top  scroll" href="#wrapper">
            <div class="scroll-to-top-inner inner radius-2"><span class="fas fa-arrow-up top-icon"></span></div>
        </a>
        <!-- End to the top -->
    </div>

    <!--Javascript-->
    <script src="~/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easytabs.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/smooth-scroll.js"></script>
    <script src="~/js/venobox.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/placeholders.min.js"></script>
    <script src="~/js/parallax.js"></script>
    <script src="~/js/morphext.min.js"></script>
    <script src="~/js/switcher.js"></script>
    <script src="~/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>