@page
@model Futuricon.Web.Pages.AboutModel
@{
    ViewData["Title"] = "About - Futuricon";
}
@section CSS {
    <link rel="canonical" href="https://futuricon.uz/about" />
}

<section id="about" class="shadow bg-dark radius-2 padding-dy">
    <div class="row mb-5">
        <div class="col">
            <h6 class="font-weight-700  mb-0 text-uppercase mb-2">About me</h6>
            <hr class="divider divider-left divider-lg float-left">
        </div>
    </div>
    <!--#region Information-->
    <div class="row mb-2">
        <div class="col-lg-12">
            <h1 class="font-weight-600 mb-0">Sukhrob <mark>Kudratov</mark></h1>
            <h6 class="h5 text-alt">.Net Developer</h6>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-12">
            <p>
                Junior .Net Developer specializing in Desktop and Web development. Experienced with all stages of the development cycle for dynamic web projects. Well-versed in numerous programming languages including C#, HTML5, JavaScript, CSS, MS SQL. Experienced in project management and customer relations.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-3 mb-lg-0">
            <div class="text-center  p-2 radius-1 shadow-inner ">
                <div class="shadow radius-1">
                    <ul class="text-center info-list font-size-14 p-2 list-inline  mb-0">
                        <li><span class="inf">Name </span> <span class="value">Sukhrob Kudratov</span></li>
                        <li><span class="inf">Birth</span> <span class="value"> November 25, 1996 </span></li>
                        <li><span class="inf">City</span> <span class="value"> Samarkand, Uzbekistan</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="text-center  p-2 radius-1 shadow-inner ">
                <div class="shadow radius-1">
                    <ul class=" text-center info-list p-2 font-size-14 list-inline mb-0">
                        <li><span class="inf">Email</span> <span class="value">keepline@inbox.ru</span></li>
                        <li><span class="inf">Phone</span> <span class="value"> +998 93 992-47-96  </span></li>
                        <li><span class="inf">Telegram</span> <span class="value">@@Futuricon</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion Information-->
    <!--#region Skills-->
    <div class="row mb-5 mt-6">
        <div class="col">
            <h6 class="font-weight-700  mb-0 text-uppercase mb-2">Professional skills</h6>
            <hr class="divider divider-left divider-lg float-left">
        </div>
    </div>
    <!--Programming Languages-->
    <div class="row vc skill dev mb-5">
        <div class="col-md-11">
            <ul class="skills-list list-inline mb-0">
                <li>
                    <h6 class="font-weight-600 font-size-14 text-uppercase">C#</h6>
                    <div class="progress mb-3">
                        <div class="percentage">
                            65%
                        </div>
                    </div>
                </li>
                <li>
                    <h6 class="font-weight-600 font-size-14 text-uppercase">Html-CSS</h6>
                    <div class="progress mb-3">
                        <div class="percentage">
                            98%
                        </div>
                    </div>
                </li>
                <li>
                    <h6 class="font-weight-600 font-size-14 text-uppercase">JavaScript</h6>
                    <div class="progress mb-3">
                        <div class="percentage">
                            60%
                        </div>
                    </div>
                </li>
                <li>
                    <h6 class="font-weight-600 font-size-14 text-uppercase">SQL</h6>
                    <div class="progress mb-3">
                        <div class="percentage">
                            50%
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-1">
            <div class="title dev font-size-14">
                <span>Programming Languages</span>
            </div>
        </div>
    </div>
    <!--Technologies-->
    <div class="row vc skill des mb-5">
        <div class="col-md-11">
            <ul class="skills-list list-inline mb-0">
                <li>
                    <h6 class="font-weight-600 font-size-14 text-uppercase">.NET</h6>
                    <div class="progress mb-3">
                        <div class="percentage">
                            65%
                        </div>
                    </div>
                </li>
                <li>
                    <h6 class="font-weight-600 font-size-14 text-uppercase">ASP.NET Core</h6>
                    <div class="progress mb-3">
                        <div class="percentage">
                            75%
                        </div>
                    </div>
                </li>
                <li>
                    <h6 class="font-weight-600 font-size-14 text-uppercase">WPF</h6>
                    <div class="progress mb-3">
                        <div class="percentage">
                            60%
                        </div>
                    </div>
                </li>
                <li>
                    <h6 class="font-weight-600 font-size-14 text-uppercase">Entity Framework</h6>
                    <div class="progress mb-3">
                        <div class="percentage">
                            60%
                        </div>
                    </div>
                </li>
                <li>
                    <h6 class="font-weight-600 font-size-14 text-uppercase">Bootstrap</h6>
                    <div class="progress mb-3">
                        <div class="percentage">
                            98%
                        </div>
                    </div>
                </li>
                <li>
                    <h6 class="font-weight-600 font-size-14 text-uppercase">jQuery</h6>
                    <div class="progress mb-3">
                        <div class="percentage">
                            60%
                        </div>
                    </div>
                </li>
                <li>
                    <h6 class="font-weight-600 font-size-14 text-uppercase">Git</h6>
                    <div class="progress mb-3">
                        <div class="percentage">
                            85%
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-1">
            <div class="title des font-size-14">
                <span>Frameworks & Technologies</span>
            </div>
        </div>
    </div>
    <!--Software-->
    <div class="row vc skill prs">
        <div class="col-md-11">
            <ul class="skills-list list-inline mb-0">
                <li>
                    <h6 class="font-weight-600 font-size-14 text-uppercase">Visual Studio</h6>
                    <div class="progress mb-3">
                        <div class="percentage">
                            95%
                        </div>
                    </div>
                </li>
                <li>
                    <h6 class="font-weight-600 font-size-14 text-uppercase">Visual Studio Code</h6>
                    <div class="progress mb-3">
                        <div class="percentage">
                            90%
                        </div>
                    </div>
                </li>
                <li>
                    <h6 class="font-weight-600 font-size-14 text-uppercase">Git</h6>
                    <div class="progress mb-3">
                        <div class="percentage">
                            85%
                        </div>
                    </div>
                </li>
                <li>
                    <h6 class="font-weight-600 font-size-14 text-uppercase">Photoshop</h6>
                    <div class="progress mb-3">
                        <div class="percentage">
                            75%
                        </div>
                    </div>
                </li>
                <li>
                    <h6 class="font-weight-600 font-size-14 text-uppercase">Illustrator</h6>
                    <div class="progress mb-3">
                        <div class="percentage">
                            70%
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-1">
            <div class="title prs font-size-14">
                <span>Software</span>
            </div>
        </div>
    </div>
    <!--#endregion Skills-->
    <!--#region Languages-->
    <div class="row mb-5 mt-6">
        <div class="col">
            <h6 class="font-weight-700  mb-0 text-uppercase mb-2">Languages</h6>
            <hr class="divider divider-left divider-lg float-left">
        </div>
    </div>
    <div class="row vc skill prs">
        <div class="col-lg-4">
            <div class="outer mb-3 lang-c radius-1-5">
                <div class="inner radius-1-5 text-center py-2 prs font-size-14">
                    <svg version="1.1" class="max-width-1-4 svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="flag-icon-css-uz" viewBox="0 0 640 480">
                        <path fill="#1eb53a" d="M0 320h640v160H0z" />
                        <path fill="#0099b5" d="M0 0h640v160H0z" />
                        <path fill="#ce1126" d="M0 153.6h640v172.8H0z" />
                        <path fill="#fff" d="M0 163.2h640v153.6H0z" />
                        <circle cx="134.4" cy="76.8" r="57.6" fill="#fff" />
                        <circle cx="153.6" cy="76.8" r="57.6" fill="#0099b5" />
                        <g fill="#fff" transform="matrix(1.92 0 0 1.92 261.1 122.9)">
                            <g id="e">
                                <g id="d">
                                    <g id="c">
                                        <g id="b">
                                            <path id="a" d="M0-6L-1.9-.3 1 .7" />
                                            <use width="100%" height="100%" transform="scale(-1 1)" xlink:href="#a" />
                                        </g>
                                        <use width="100%" height="100%" transform="rotate(72)" xlink:href="#b" />
                                    </g>
                                    <use width="100%" height="100%" transform="rotate(-72)" xlink:href="#b" />
                                    <use width="100%" height="100%" transform="rotate(144)" xlink:href="#c" />
                                </g>
                                <use width="100%" height="100%" y="-24" xlink:href="#d" />
                                <use width="100%" height="100%" y="-48" xlink:href="#d" />
                            </g>
                            <use width="100%" height="100%" x="24" xlink:href="#e" />
                            <use width="100%" height="100%" x="48" xlink:href="#e" />
                            <use width="100%" height="100%" x="-48" xlink:href="#d" />
                            <use width="100%" height="100%" x="-24" xlink:href="#d" />
                            <use width="100%" height="100%" x="-24" y="-24" xlink:href="#d" />
                        </g>
                    </svg><span class="ml-3">Uzbek – C2</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="outer mb-3 lang-c radius-1-5">
                <div class="inner radius-1-5 text-center py-2 prs font-size-14">
                    <svg version="1.1" class="max-width-1-4 svg-icon" xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-ru" viewBox="0 0 640 480">
                        <g fill-rule="evenodd" stroke-width="1pt">
                            <path fill="#fff" d="M0 0h640v480H0z" />
                            <path fill="#0039a6" d="M0 160h640v320H0z" />
                            <path fill="#d52b1e" d="M0 320h640v160H0z" />
                        </g>
                    </svg>
                    <span class="ml-3">Russian – C2</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="outer mb-3 lang-c radius-1-5">
                <div class="inner radius-1-5 text-center py-2 prs font-size-14">
                    <svg version="1.1" class="max-width-1-4 svg-icon" xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-gb" viewBox="0 0 640 480">
                        <path fill="#012169" d="M0 0h640v480H0z" />
                        <path fill="#FFF" d="M75 0l244 181L562 0h78v62L400 241l240 178v61h-80L320 301 81 480H0v-60l239-178L0 64V0h75z" />
                        <path fill="#C8102E" d="M424 281l216 159v40L369 281h55zm-184 20l6 35L54 480H0l240-179zM640 0v3L391 191l2-44L590 0h50zM0 0l239 176h-60L0 42V0z" />
                        <path fill="#FFF" d="M241 0v480h160V0H241zM0 160v160h640V160H0z" />
                        <path fill="#C8102E" d="M0 193v96h640v-96H0zM273 0v480h96V0h-96z" />
                    </svg>
                    <span class="ml-3">English – B2</span>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion Languages-->
    <!--#region Experience-->
    <div class="row mb-5 mt-6">
        <div class="col">
            <h6 class="font-weight-700  mb-0 text-uppercase mb-2">Experience</h6>
            <hr class="divider divider-left divider-lg float-left">
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12">
            <div class="timeline">
                <div class="outer radius-2 position-absolute">
                    <div class="ui-icon ui-icon-md inner ">
                        <div class="ui-icon-inner">
                            <svg version="1.1" class="max-width-1-4 svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 517 465.8" enable-background="new 0 0 517 465.8;" xml:space="preserve">
                            <g>
                            <g>
                            <path d="M488.9,79.3H348.1V28.1c0-14.1-11.5-25.6-25.6-25.6h-128c-14.1,0-25.6,11.5-25.6,25.6v51.2H28.1
                                                   C14,79.3,2.5,90.8,2.5,104.9v332.8c0,14.1,11.5,25.6,25.6,25.6h460.8c14.1,0,25.6-11.5,25.6-25.6V104.9
                                                   C514.5,90.8,503,79.3,488.9,79.3z M194.5,28.1h128v51.2h-128V28.1z M488.9,437.7H28.1V232.9h192v25.6c0,21.2,17.2,38.4,38.4,38.4
                                                   s38.4-17.2,38.4-38.4v-25.6h192V437.7z M245.7,258.5v-25.6h25.6v25.6c0,7.1-5.7,12.8-12.8,12.8
                                                   C251.4,271.3,245.7,265.6,245.7,258.5z M488.9,207.3H28.1V104.9h460.8V207.3z"></path>
                                  </g>
                               </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class=" pt-7">
                    <div class="timeline-content">
                        <div class="mb-1">
                            <h6 class="font-weight-600 font-size-15 mb-1">Web Developer - Freelance, Uzbekistan </h6>
                            <div class="font-size-13 text-alt mb-1"><span class="fa fa-calendar mr-2 text-muted"></span>April 2021 - <span class="current">Current</span></div>
                        </div>
                        <p class="mb-0">
                            • Full stack web developer responsible for end-to-end web app development. <br />• Develop project concepts and maintain optimal workflow. <br />• Complete detailed programming and development tasks for front
                            end public and internal websites as well as challenging back-end server code. <br />• Worked closely with client to provide a customized website for their business.
                        </p>
                    </div>
                    <div class="timeline-content">
                        <div class="mb-1">
                            <h6 class="font-weight-600 font-size-15 mb-1">IT-specialist - Green City, Uzbekistan </h6>
                            <div class="font-size-13 text-alt mb-1"><span class="fa fa-calendar mr-2 text-muted"></span>May 2020 - April 2021</div>
                        </div>
                        <p class=" mb-0">
                            • Handled all desktop support issues in a high-volume manufacturing firm. <br />• Installed, services and upgraded over 30 Windows computers. <br />• Work with senior IT-specialist to manage large, complex problems
                            and issues in work process.
                        </p>
                    </div>
                    <div class="timeline-content">
                        <div class="mb-1">
                            <h6 class="font-weight-600 font-size-15 mb-1">Desktop App Developer - Diamond Solutions, Uzbekistan </h6>
                            <div class="font-size-13 text-alt mb-1"><span class="fa fa-calendar mr-2 text-muted"></span>October 2019 - May 2020</div>
                        </div>
                        <p class=" mb-0">
                            • Developed various desktop applications using .NET stack (WPF, EF Core) <br />• Designed UI and UX for WPF applications. <br />• Experience in teamwork and in using Git.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion Experience-->
    <!--#region Education-->
    <div class="row mb-5 mt-6">
        <div class="col">
            <h6 class="font-weight-700  mb-0 text-uppercase mb-2">Education</h6>
            <hr class="divider divider-left divider-lg float-left">
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12">
            <div class="timeline">
                <div class="outer radius-2 position-absolute">
                    <div class="ui-icon ui-icon-md inner ">
                        <div class="ui-icon-inner">
                            <svg version="1.1" class="max-width-1-4 svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 512 392" enable-background="new 0 0 512 392;" xml:space="preserve">
                            <g>
                            <g>
                            <path d="M490.8,126.7L264,51.1c-2.6-0.9-5.3-1.3-8-1.3c-2.7,0-5.4,0.4-8,1.3L21.2,126.7C10.9,130.2,4,139.8,4,150.6
                                                   s6.9,20.5,17.2,23.9l20.6,6.9v41.9L17.9,271l22.5,11.3l13.9-27.9l13.9,27.9L90.9,271L67,223.3v-33.5l37.8,12.6v99.4
                                                   c0,37.4,115.7,40.3,151.2,40.3s151.2-2.9,151.2-40.3v-99.4l83.6-27.9c10.3-3.4,17.2-13.1,17.2-23.9
                                                   C508,139.8,501.1,130.2,490.8,126.7z M256,317c-64.5,0-106.1-8.6-121.2-15.1c15.1-6.5,56.7-15.1,121.2-15.1s106.1,8.6,121.2,15.1
                                                   C362.1,308.3,320.5,317,256,317z M382,277c-36.1-14-101-15.5-126-15.5S166.1,263,130,277V162c8.8-6.5,52.5-17.7,126-17.7
                                                   s117.2,11.2,126,17.7V277z M407.2,175.8v-16.4c0-37.4-115.7-40.3-151.2-40.3s-151.2,2.9-151.2,40.3v16.4l-75.6-25.2L256,75
                                                   l226.8,75.6L407.2,175.8z"></path>
                                  </g>
                               </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class=" pt-7">
                    <div class="timeline-content">
                        <div class="mb-1">
                            <h6 class="font-weight-600 font-size-15 mb-1">Tashkent University of Information Technologies Samarkand, Uzbekistan </h6>
                            <div class="font-size-13 text-alt mb-1"><span class="fa fa-calendar mr-2 text-muted"></span>Sept 2017 - July 2021</div>
                        </div>
                        <p class=" mb-0">
                            • Bachelor of Science <br />• Major: Software Engineering
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion Education-->
    <!--#region Services-->
    <div class="row mb-5 mt-6">
        <div class="col">
            <h6 class="font-weight-700  mb-0 text-uppercase mb-2">Services</h6>
            <hr class="divider divider-left divider-lg float-left">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3 mb-lg-0">
            <div class="service text-center">
                <div class="outer ui-icon-outer-lg  radius-2 m-auto">
                    <div class="ui-icon ui-icon-lg  inner ">
                        <div class="ui-icon-inner ui-icon-inner-lg">
                            <i class="fas fa-globe serv-icon"></i>
                        </div>
                    </div>
                </div>
                <h6 class="font-weight-600 font-size-15 mb-1 mt-3">Web</h6>
                <p class="mb-0">Developing web applications with Asp.Net Core and C#</p>
            </div>
        </div>
        <div class="col-md-4 mb-3 mb-lg-0">
            <div class="service text-center">
                <div class="outer ui-icon-outer-lg  radius-2 m-auto">
                    <div class="ui-icon ui-icon-lg  inner ">
                        <div class="ui-icon-inner ui-icon-inner-lg">
                            <i class="fas fa-desktop serv-icon"></i>
                        </div>
                    </div>
                </div>
                <h6 class="font-weight-600 font-size-15 mb-1 mt-3">Desktop</h6>
                <p class="mb-0">Building desktop applications with WPF and C#</p>
            </div>
        </div>
        <div class="col-md-4 mb-3 mb-lg-0">
            <div class="service text-center">
                <div class="outer ui-icon-outer-lg  radius-2 m-auto">
                    <div class="ui-icon ui-icon-lg  inner ">
                        <div class="ui-icon-inner ui-icon-inner-lg">
                            <i class="fas fa-palette serv-icon"></i>
                        </div>
                    </div>
                </div>
                <h6 class="font-weight-600 font-size-15 mb-1 mt-3">Design</h6>
                <p class="mb-0">Development of modern UI and UX for applications</p>
            </div>
        </div>
    </div>
    <!--#endregion Services-->
    <!--#region Testimonials-->
    <div class="row mb-5 mt-6">
        <div class="col">
            <h6 class="font-weight-700  mb-0 text-uppercase mb-2">Testimonials</h6>
            <hr class="divider divider-left divider-lg float-left">
        </div>
    </div>
    <div class="row  align-items-center">
        <div class="testimonial-carousel">
            <div class="px-3  w-100 pt-5">
                <div class="card border-0    bg-dark">
                    <div class="card-body pr-5 pl-5 p5-3 pt-0 shadow radius-2">
                        <div class="testimonial-image">
                            <div class="testimonial-image-border">
                                <img class="rounded-circle" src="~/imgs/avatar/Usmanov.jpg" alt="/">
                            </div>
                        </div>
                        <p class=" mb-0 mt-2">
                            "Great web application for my organization with flexible functionality." <a href="https://wucsa.com">(wucsa.com)</a>
                        </p>
                    </div>
                    <div class="card-footer border-0  pt-0 px-5 pb-0 mt-3">
                        <span class="h6 font-size-15 font-weight-600 mb-0">Fakhriddind Usmanov</span>
                        <small class="d-block text-muted">Founder & President of WUCSA, Grand master 10th Dan</small>
                    </div>
                </div>
            </div>
            <div class="px-3  w-100 pt-5">
                <div class="card border-0  bg-dark">
                    <div class="card-body pr-5 pl-5 pb-5 pt-0 shadow radius-2">
                        <div class="testimonial-image">
                            <div class="testimonial-image-border">
                                <img class="rounded-circle" src="~/imgs/avatar/Ergashev.jpg" alt="/">
                            </div>
                        </div>
                        <p class=" mb-0 mt-2">
                            "Thanks for the web portfolio, my daughter is glad that she has her own website." <a href="https://shakhlo.uz">(shakhlo.uz)</a>
                        </p>
                    </div>
                    <div class="card-footer border-0  pt-0 px-5 pb-0  mt-3">
                        <span class="h6 font-size-15 font-weight-600 mb-0">Bobur Ergashev</span>
                        <small class="d-block text-muted">Ph.D student</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion Testimonials-->
    <!--#region Download CV-->
    <div class="row">
        <div class="col-md-12 mt-6 pt-6 mb-6">
            <hr class="divider divider-lg divider-center ">
        </div>
        <div class="col-md-12 text-left mb-2 mb-lg-0">
            <a class="float-md-right" href="~/cv.pdf">
                <div class="media  align-items-center">
                    <div class="outer radius-2 mr-3">
                        <div class="ui-icon ui-icon-md inner ">
                            <div class="ui-icon-inner">
                                <svg version="1.1" class="max-width-1-3 svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 517 517" enable-background="new 0 0 517 517;" xml:space="preserve">
                                <g>
                                <g>
                                <path d="M514.5,258.5c0-141.4-114.6-256-256-256s-256,114.6-256,256s114.6,256,256,256S514.5,399.9,514.5,258.5z
                                                      M28.1,258.5c0-127,103.4-230.4,230.4-230.4s230.4,103.4,230.4,230.4S385.5,488.9,258.5,488.9S28.1,385.5,28.1,258.5z"></path>
                                       </g>
                                    </g>
                                <g>
                                <g>
                                <path d="M267.5,344.4l128-128c5-5,5-13.1,0-18.1s-13.1-5-18.1,0l-119,118.9l-118.9-119c-5-5-13.1-5-18.1,0
                                                      c-2.5,2.5-3.8,5.8-3.8,9.1s1.2,6.6,3.7,9.1l128,128C254.4,349.4,262.5,349.4,267.5,344.4z"></path>
                                      </g>
                                   </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <span class="text-alt font-size-13 font-weight-600 text-uppercase">Download my CV</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!--#endregion Download CV-->
</section>
